/*About.css Derek Leduc 300600738 COMP229 Web Application Development Assignment 1*/


/* Container for the about section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center; 
}

/* Content box within the about section */
.about .content {
  max-width: 800px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1); 
  padding: 2rem;
  border-radius: 10px; 
}

/* Main heading for the about section */
.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Paragraph text within the about section */
.about p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Styles for the resume button */
.resume-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: limegreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover state for the resume button */
.resume-button:hover {
  background-color: darkgreen;
}

/* Glow Effect*/
@keyframes textGlow {
  0% {
    text-shadow: 0 0 10px rgb(116, 255, 116);
  }
  100% {
    text-shadow: none;
  }
}

.about h2, .about p {
  animation: textGlow 3.5s ease-in-out;
}
